.audiowive-font {
    font-family: 'Audiowide', cursive;
}

.orbitron-font {
    font-family: 'Orbitron', sans-serif;
}

.exo-font {
    font-family: 'Exo', sans-serif;
}

.bungee-font {
    font-family: 'Bungee', cursive;
}